@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
.footer {
    background: linear-gradient(to right, #5a444e, #2d2d2d);
    color: aliceblue;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
   
  }
  
  .logo {
    width: 200px;
    margin-bottom: 20px;
    height: 200px;
    margin-left: auto;
  }
  
  .email {
    border-bottom: 1px solid #fbf7f7;
    margin: 20px 0;
  }
  
  .a {
    text-decoration: none;
  }

  .remove {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .social {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social img {
    width: 37px;
    height: 37px;
    margin: 0 10px;
    background-color: #d7c1c1;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  @media screen and (max-width: 700px) {
    .logo {
      width: 100px;
      height: 100px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .footer {
      padding: 30px 0;
    }
  
    .logo {
      width: 100px;
      height: 100px;
    }
  
    .email {
      font-size: 14px;
    }
  
    .social img {
      width: 20px;
      height: 20px;
    }
  }
  
  @media screen and (max-width: 1280px) {
    .logo {
      width: 150px;
      height: 150px;
    }
  }
  