/* Header.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.dropdown-menu{
    background-color: black;
}
.drop{
    background-color: black;
    color: white;
}

